@import 'utils';

.design {
//  background-image: linear-gradient(to bottom right, red, yellow);
      height:100%;
      width:100%;
 .font{
    padding-top:3rem;
    font-size: 40px;

 }
 text-align: center;
}