@import 'utils';

.post-list {
  
  .post-item {
    padding: 0.5rem;
    padding-bottom: 1rem;
    transition: all .15s ease-in;
    word-wrap: break-word; // 내용이 너무 길면 다음 줄에 작성

    h2 {
      //margin-top:0.5rem;
      font-size: 2rem;
      font-weight: 400;
      color: $oc-gray-8;
      
      
      a {
        transition: all .15s ease-in; // 스타일 바뀔 때 애니메이션 효과
        border-bottom: 1px solid transparent;
        // word-wrap: break-word; // 내용이 너무 길면 다음 줄에 작성

        
      }
      a:hover {
        color: #23A6D5;
        // 마우스 호버 시 밑줄(밑줄과 글자 사이 여백, 얇은 밑줄을 위해 border-bottom 사용)
        //border-bottom: 1px solid $oc-yellow-8;
      }
    }
    .date {
      font-size: 0.85rem;
      color: $oc-gray-5;
    }
    p {
      font-weight: 300;
      color: $oc-gray-7;
      font-family: 'BBTreeGR';

    }
    .tags {
      font-size: 0.8rem;
      font-family: 'BBTreeGR';
      // color: $oc-gray-7;
      color: #E73C7E;
      // word-wrap: normal; // 내용이 너무 길면 다음 줄에 작성
      
      a {
        // word-wrap: normal; // 내용이 너무 길면 다음 줄에 작성

        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        // border: 1px solid $oc-gray-4;
        border: 1px solid #E73C7E;
        border-radius: 4px;
        background: white;
        &:hover, &:active {
          color: #23A6D5;
          border: 1px solid #23A6D5;
          transition: all 0.15s ease-in; //시간차로 호버효과
        }

      }
      a + a { // 태그 사이 여백
        margin-left: 0.25rem;
      }
    }


    &:hover {
      // 호버 시 배경색 변경
      background: rgba($oc-indigo-7, 0.05);
    }


  }
  .post-item + .post-item { // 아이템 사이 여백
    // border-top: 1px solid $oc-gray-3;
  }


  @include media("<medium") {

    .post-item {
      h2 { 
        font-size: 1.7rem;
      }

    }
  }
}