@import 'utils';

.loading {
    padding-top: 10%;
    text-align: center;
    font-size: 3rem;
    color: #FFBF00;
    width: center;
    height: center;
}
.image {
    color: #FFBF00;
}
.padding {
    padding-top: 30%;
}